html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 改变el-main默认属性值 */
.content {
    line-height: 0;
    text-align: left;
}

/* 设置卡片视图阴影 */
.el-card {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) !important;
}

/* 设置面包屑 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}


/* 取消某些组件属性，以免覆盖下拉框组件 */
/* .el-row,
.el-input-group--append,
.el-input-group__append {
    position: unset;
} */

.el-table {
    margin-top: 10px;
}

/* 添加按钮样式 */
.button-add {
    background: #70cca2;
    color: #fff;
}

/* 取消表格下面所有相对定位属性 */
/* .table-custom * {
    position: unset !important;
} */

.el-pagination {
    margin-top: 10px;
    text-align: left;
}

/* 改变el-main默认属性值 */
.content {
    line-height: 0;
    text-align: left;
}


/* 加入通用 CSS 代码（引入一次就行） */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/* 设置弹窗头部、主体、底部内边距*/
.el-dialog__body,
.el-dialog__header,
.el-dialog__footer {
    padding: 10px 20px;
}

.el-dialog__header {
    padding-top: 20px;
}


/* 隐藏级联选择器前面的圆形选择框 */
.el-cascader-panel .el-radio {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 10px;
}
.el-cascader-panel .el-radio__input {
    visibility: hidden;
}
/* 隐藏下方滚动条 */
.el-scrollbar__wrap { overflow-x: hidden; }
